body {
    margin: auto; 
    max-width: 1770px;
    display: flex;
    flex-direction: column;
}


//Need to add hover and after
a {
    text-decoration: none;
    color: white;
}

a:hover {
    opacity: 50%;
}

.button {
    background-color: #5474FD;
    color: white;
}