.menu {
    background-color: #5474FD;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1770px;
    width: 100%;
    min-height: 83px;

    &__logo {
        font-family: "Josefin Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 2.4px;
        color: #FFFFFF;
    }

    &__list {
        display: flex;
        flex-direction: row;
        list-style: none;
        font-family: "Aleo", serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        color: #FFFFFF;
        
        .list__item {
            padding-right: 3em;
        }
    }
} 