.menu {
    display: flex;
    flex-direction: row;
    max-width: 1700px;
    width: 100%;
    min-height: 83px;
    border: yellow solid 3px;
    justify-content: space-around;

    &__logo {
        font-family: "Josefin Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 26px;
        align-items: center;
        letter-spacing: 2.4px;
        color: #FFFFFF;
    }

    &__list {
        display: flex;
        flex-direction: row;
        list-style: none;
        font-family: "Aleo", serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }
}